name: Build and Deploy

on:
  push:
    branches:
      - main
      - master
      - production

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Downcase IMAGE_NAME
        run: |
          echo "IMAGE_NAME_LOWERCASE=${IMAGE_NAME,,}" >>${GITHUB_ENV}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LOWERCASE }}:latest

  deploy-to-server:
    needs: build-and-push-image
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote commands to deploy
        uses: appleboy/ssh-action@v1.0.3
        env:
          REGISTRY: ${{ env.REGISTRY }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          envs: REGISTRY,IMAGE_NAME
          script: |
            # Obtenemos el nombre de la imagen en minúsculas
            IMAGE_LOWER=$(echo $IMAGE_NAME | tr '[:upper:]' '[:lower:]')
            IMAGE="$REGISTRY/$IMAGE_LOWER:latest"

            # (Opcional) Autenticarse en el servidor si la imagen es privada (requeriría pasar GITHUB_TOKEN como secret al server)
            # docker login ghcr.io -u tuusuario -p tu_token

            # Descargamos la nueva imagen
            sudo docker pull $IMAGE

            # Detenemos y eliminamos el contenedor anterior si existe
            sudo docker stop tuapi || true
            sudo docker rm tuapi || true

            # Levantamos el contenedor con la nueva imagen en el puerto 80 mapeado al 3000 interno
            sudo docker run -d --name tuapi -p 80:3000 --restart unless-stopped $IMAGE
